<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="/manifest.json">

    <title>Document</title>
</head>
<body>
    <h1>PWA Test</h1>

    <img src="images/testimage.jpg">
    <hr>

    <button id="btnTest">Press Me</button>

    <div id="message"></div>

    <script src="js/script.js"></script>
</body>
</html>